.list-card {
    align-items: flex-start;
    border-radius: 4px;
    box-shadow: 0 2px rgba(178, 0, 0, 0.404);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    min-height: 300px; /* Increased height */
}

.list-card a {
    display: flex;
    width: 75%;
    height: 250px; /* Increased height */
    text-decoration: none;
    margin-left: 70px;
    color: inherit;
}

.list-image {
    width: 30%;
    height: 200px; /* Increased height */
    margin-right: 10px;
    object-fit: contain; /* Ensures the image scales properly */
}

.list-content {
    flex: 1;
}

.list-content h3 {
    margin: 20px;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .list-content p {
    margin: 20px;
    font-size: 17px;
  }