.article-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 75%;
  margin: 60px auto;
  background-color: #fff;
  align-items: flex-start; /* Align items to the top */
}

.article-content {
  flex: 1;
  margin: 50px;
}

.article-image {
  width: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  margin: 50px; /* Add margin to separate image from content */
}

h1 {
  margin-bottom: 20px; /* Adjusted margin */
  font-size: 24px;
  color: #333;
}

.metadata {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.metadata span {
  margin-right: 10px;
}

.content {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0; /* Adjusted margin */
  color: #444;
}

.tags {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

/* Alternating layout for even and odd articles */
.article-card:nth-child(odd) {
  flex-direction: row;
}

.article-card:nth-child(odd) .article-content {
  order: 1;
}

.article-card:nth-child(odd) .article-image {
  order: 2;
}

.article-card:nth-child(even) {
  flex-direction: row-reverse;
}

.article-card:nth-child(even) .article-content {
  order: 2;
}

.article-card:nth-child(even) .article-image {
  order: 1;
}