.section-container {
  padding: 50px 45px; /* Padding for the container */
  margin: 30px;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: flex-start;
  margin-bottom: 100px;
  height: 350px;
  padding: 60px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.hero:nth-child(odd) {
  flex-direction: row; /* Image on the left, content on the right */
}

.hero:nth-child(even) {
  flex-direction: row-reverse; /* Image on the right, content on the left */
}

.hero-image {
  width: 50%;
  height: auto;
  border-radius: 4px;
  margin-right: 10px;
}

.hero-content {
  padding-top: 50px;
  width: 50%;
  padding-left: 10px;
}

.hero-content h2 {
  margin: 20px;
  font-size: 1.5em;
  font-weight: 900;
}

.hero-content p {
  padding: 20px;
  font-size: 19px;
}

.hero-content a {
  text-decoration: none;
  font-weight: 600;
}

.hero-link {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
}

.list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.list-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 10;
  margin: 0;
  flex-direction: row; /* Image on the left, content on the right */

}

.article-card {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  display: flex; /* Ensure the card content is laid out horizontally */
  align-items: flex-start; /* Align items to the top */
}

.list-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Add some space between the image and the text */
}

.list-content h3 {
  font-size: 1rem;
  color: black;
  margin: 0 0 5px 0; /* Adjust margin for better spacing */
}

.list-content p {
  color: black;
  margin: 0;
  font-size: 0.80rem;
}

.list-image {
  width: 50%;
  margin: 10px auto;
  height: auto;
  object-fit: contain;
  flex-shrink: 0; /* Prevent the image from shrinking */
}